
.custom-pink-bg {
    background-color: #FFB6C1;
    color:#EB568F ;
    font-weight:bolder;
}
.custom-blue-bg {
    background-color: #DDF4FC;
    color:#8CDBF4;
    font-weight:bolder;
}

.custom-pink2-bg {
    background-color: #FFE3D9;
    color:#FF4601;
    font-weight:bolder;
}
